.picture-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.picture-loading {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.picture {
  max-height: 200px;
  max-width: 90%;
}

.picture-upload-input {
  display: none;
}

.picture-upload-label {
  color: #e678a7;
  cursor: pointer;
  font-weight: bolder;
}
